<!-- Navbar -->
<nav class="navbar-expand-md navbar-dark bg-primary navbar fixed-top">
    <div class="container"><a class="navbar-brand" href="#pickAPic-section"><b>Do you gotta pic or nah???</b></a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar02">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbar02">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="btn navbar-btn ml-md-2 text-primary btn-secondary" href="{% url 'index' %}"><b>Home</b></a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'index' %}"><b>Home</b></a></li> -->
            </ul>
            <!-- <a class="btn navbar-btn ml-md-2 text-primary btn-secondary" href="#contact-section">Contact Me</a> -->
        </div>
    </div>
</nav>