{% extends "base.html" %} {% load static %} {% block content %}
<!-- Abstract -->
<div id="abstract-section" class="py-5 text-center text-md-right bg-primary">
    <div class="container">
        <div class="row mt-5 pt-4">
            <div class="p-5 bg-white mx-auto mx-md-0 ml-md-auto col-10 col-md-9">
                <h3 class="display-3 text-primary"><i><b>Abstract</b></i></h3>
                <p class="mb-3 lead text-justify text-dark">
                    A single page website that uses Bootstrap, jQuery, and Django for trying out Azure products which are; Azure App Service with Git, Azure Blob Storage, and Azure Cognitive Service.
                </p>
                <br>
                <p class="text-primary"><em>*can only be accessed through a computer</em></p>
            </div>
        </div>
    </div>
</div>

<!-- Pick A Pic -->
<div id="pickAPic-section" class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-10">
                <h3 class="display-3 text-white mb-5"><b>Step-by-step to Glory</b></h3>
                <div class="row">
                    <div class="col-md-6 px-5 mt-3">
                        <i class="d-block fa fa-stop-circle fa-4x mb-3 text-primary"></i>
                        <h1 class="text-dark"><b>Step #1</b></h1>
                        <p class="mb-3 bg-primary text-light">
                            <em>Choose an image that you want to upload by pressing this button below.</em>
                        </p>

                        <button class="btn btn-lg btn-outline-primary" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Pick your pic</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                            <div class="drag-text">
                                <h3>Drag and drop a pic or click <i>Pick your pic</i></h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#" alt="your image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-5 mt-3">
                        <i class="d-block fa fa-stop-circle-o fa-4x mb-3 text-primary"></i>
                        <h1 class="text-dark"><b>Step #2</b></h1>
                        <p class="mb-3 bg-light text-primary">
                            <em>Click this button below to upload and analyse the selected image.</em>
                            <br><br><b><em>JUST CLICK ONCE AND WAIT!</em></b>
                            <br>It takes long to process the image T.T
                        </p>
                        <button class="btn btn-lg btn-primary" onclick="processImage()">Ready to be SHOOK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pics Album -->
<div id="picsAlbum-section" class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="text-center mx-auto col-lg-8 col-10">
                <h1 class="mb-3 text-white"><b>Dem Uploaded Pics</b></h1>
                <div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card"><img class="card-img-top" src="{% static 'img/pika1.jpg' %}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><b>People waiting at a train station</b></h4>
                                    <p class="card-text"><i>Uploaded at 8/9/20</i></p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#del-conf">DELETE</button>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card"><img class="card-img-top" src="{% static 'img/pika2.jpg' %}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><b>People waiting at an airport</b></h4>
                                    <p class="card-text"><i>Uploaded at 5/10/20</i></p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#del-conf">DELETE</button>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card"><img class="card-img-top" src="{% static 'img/pika3.png' %}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><b>Pikachu doing an UwU face</b></h4>
                                    <p class="card-text"><i>Uploaded at 2/12/20</i></p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#del-conf">DELETE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators"></ol>
                    <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div id="contact-section" class="py-3 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto p-4 col-lg-7">
                <h3 class="mb-6">Do you gotta <i>constructive criticism</i> or nah???</h3>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6"><input type="text" class="form-control" id="name-msg" placeholder="Name"></div>
                        <div class="form-group col-md-6"><input type="email" class="form-control" id="email-msg" placeholder="Email"></div>
                    </div>
                    <div class="form-group"><input type="text" class="form-control" id="subject-msg" placeholder="Subject">
                    </div>
                    <div class="form-group"><textarea class="form-control" id="body-msg" rows="3" placeholder="Your message"></textarea></div>
                    <button type="submit" class="btn btn-primary">SEND</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation -->
<div id="del-conf" class="modal fade" role="alert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">WARNING!!!</h5>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <div class="modal-body">
                <p>Do you really really want to delete this?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Yup!</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NOPE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}